.signup-form {
  display: flex;
  flex-flow: column;
  padding: 2em;
  animation-name: appear;
  animation-duration: 2s;
  width: 400px;

  // shadow
  -webkit-box-shadow: 17px 13px 80px 2px rgba(166, 166, 171, 1);
  -moz-box-shadow: 17px 13px 80px 2px rgba(166, 166, 171, 1);
  box-shadow: 17px 13px 80px 2px rgba(166, 166, 171, 1);

  .signup-form-button {
    width: 100%;
  }
  .main-label {
    text-align: center;
  }
}
